* {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}
html{
    scroll-behavior: smooth;
}
body{
    scroll-behavior: smooth;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    padding-top: 20px;
}
header .logo {
    padding-right: 130px;
}
header .content{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    height: 100%;
    align-items: center;

}
header .content ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    list-style: none;
}

header .content ul li a {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 20px;
}
header .content ul li a:hover{
    text-decoration: underline;
}
.style-block .overflow {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,.2));
    z-index: 1;
}

.content {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    z-index: 99;
    position: relative;
}
.style-block {
    height: 80vh;
    background-image: url("../assets/img/пионы.png");
    background-size: cover;
    background-position: center;
    position: relative
}
.style-block h1 {
    font-size: 100px;
    line-height: 131px;
    color: #FFD6D6;
    font-family: 'Jacques Francois', serif;
    font-weight: 400;
    width: 500px;
}

.style-block p {
    color: #FFD6D6;
    font-family: 'Playfair Display', serif;
    width: 365px;
    text-align: justify;
    font-size: 25px;
    padding-top: 22vh;
}
.style-block .content {
    display: flex;
    padding-top: 39.9vh;
    width: 100%;
    justify-content: space-between;
}
.block-2 {
    background-image: url("../assets/img/зелень.png"); 
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70vh;
}
.block-2 h2 {
    font-size: 80px;
    color: #FFD6D6;
    text-align: center;
    line-height: 100px;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    padding-top: 32.9vh;
}
.block-2 h2 span {
    font-family: 'Caveat', cursive;
}

.block-3 {
    background-color: rgba(173,110,110,0.46);
    padding: 50px 0;
}
.block-3 h2 { 
    font-size: 50px;
    text-align: center;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    margin-bottom: 50px;
}
.block-3 .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 60px;
}
.block-3 .cards .card h3{
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 13px;
}
.block-3 .cards .card hr {
    background-color: black;
    height: 3px;
    border: none;
    margin-bottom: 13px;
}
.block-3 .cards .card p {
    font-size: 24px;
    text-align: justify;
}

.block-4 {
    background-color: rgba(1, 45, 11, 0.9);
    padding: 100px 0;
}

.block-4 h2 {
    font-size: 50px;
    text-align: center;
    color: #FFD6D6;
    margin-bottom: 50px;
}

.block-4 .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    color: #FFD6D6;
    font-size: 25px;
    text-align: justify;
}

.block-5  {
    display: grid;
    grid-template-columns: 4fr 7fr;
    font-size: 30px;
    text-align: justify;
    background-color: #FFD6D6; 
}

.block-5 img {
    width: 75%;
}

.block-5 .text {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 90px;
}
.block-5 .text h2 {
    margin-bottom: 30px;
    font-size: 70px;
    font-weight: 400;
}

.block-5 .text p {
    width: 100%;
    text-align: justify;
}
.block-6 {
    background-color: #FFD6D6; 
}
.block-6 hr {
    height: 3px;
    border: none;
    background: black;
}
.block-6 h2 {
    font-size: 70px;
    font-weight: 400;
    text-align: center;
    padding: 20px 0;
}

.block-6 .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 0;
    text-align: center;
    align-items: center;
    grid-column-gap: 60px;

}
.block-6 .content img {
    width: 100%;
}
.block-6 .content p {
    font-size: 40px;
}

.block-6 .spec1{
    grid-template-columns: 5fr 3fr;
}
.block-6 .spec2{
    grid-template-columns: 3fr 5fr;
    margin-top: -250px;
}

.block-6 .spec3{
    grid-template-columns: 3fr 5fr;
}
.block-6 .spec4{
    grid-template-columns: 5fr 3fr;
    margin-top: -250px;
}

.block-6 h3 {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    padding: 30px;
    border: 2px solid black;
    width: 600px;
    margin: 0 auto;
    margin-top: 30px;
}

footer {
    background-color: #FFD6D6; 
    text-align: center;
    padding-top: 50px;
}
footer .info {
    background-image: url(../assets/img/footer.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 250px;
    margin-top: -220px;
    color: #fff;
    padding-bottom: 50px;
}
footer .info h4 {
    font-size: 40px;
    font-weight: 400;
}
footer .info .contact {
    margin-top: 100px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

footer .info .contact .cont {
    display: flex;
    padding-bottom: 30px;
    align-items: center;
}
footer .info .contact .cont img{
    margin-right: 30px;
}
footer .info .contact .cont .text {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
footer .info .contact .right {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
footer .soc {
    margin-top: 30px;
    text-align: center;
}
footer .soc h3 {
    font-family: arial;
    margin-bottom: 30px;
}
footer .soc a {
    padding-right: 10px;
}


#overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: 999;
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
    overflow: auto;
  }
  
  .popup {
    top: 25%;
    left: 0;
    right: 0;       
    font-size: 14px;
    margin: auto;
    width: 85%;
    min-width: 320px;
    max-width: 600px;
    position: absolute;
    padding: 15px 20px;
    border: 1px solid #383838;
    background: #fefefe;
    z-index: 1000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    font: 14px/18px 'Tahoma', Arial, sans-serif;
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
  }
  
  .close {
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    position: absolute;
    border: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: #0d47a1;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    outline: none;
  
  }
  .close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
 
  .close:hover {
    background-color: #f44336;
  }
  .text-popup{
    margin-bottom: 20px;
  }